<%-include('partials/header.html')%>

<div class= "mb-4" style="background-color: #F5F5F5;">
    <div class="container">
        <div class="card-group" >

            <div class="card p-0 col-sm-3 border-0">
                <div class="card-group text-center">
                    <div class="card border-0">
                        <a href="/">   
                            <div class="card-body">Trang chủ</div>
                        </a>
                    </div>
                    <div class="card border-0">
                        <a href="/">   
                            <div class="card-body">Giới thiệu</div>
                        </a>
                    </div>
                    <div class="card border-0">
                        <a href="/">   
                            <div class="card-body">Liên hệ</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card p-0 border-0 col-sm-6"></div>
            
            <div class="card p-0 border-0 col-sm-3">
                <div class="card-group text-center">
                    <div class="card border-0"></div>
                    <div class="card border-0 active">
                        <a href="/signup">   
                            <div class="card-body">Đăng kí</div>
                        </a>
                    </div>
                    <div class="card border-0">
                        <a href="/login">   
                            <div class="card-body">Đăng nhập</div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
        
<div class="container">
    <div class="col-sm-9 mt-3" style="float: none; margin: auto;">

        <form method="post">

            <div class="col-sm-6">
                <img src  ="/public/image/landing/res.png" width="150" height="162" style="margin-left: 9vw;">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p style="font-size: 1vw;">Email</p> 
                        <input type="text" class="form-control" name="email" value="<%=res.email%>">
                        <% for(var i=0; i< errs.length; i++){ %>
                            <% if(errs[i].field=="email"){%>
                                <p id="val" class="text-danger font-italic pt-2" style="font-style: italic ;"><%= errs[i].message %></p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p style="font-size: 1vw;">Mật khẩu</p> 
                        <input type="password" class="form-control" name="password" value="<%=res.password%>">
                        <% for(var i=0; i< errs.length; i++){ %>
                            <% if(errs[i].field=="password"){%>
                                <p id="val" class="text-danger font-italic pt-2" style="font-style: italic ;"><%= errs[i].message %></p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p style="font-size: 1vw;">Mã số sinh viên</p> 
                        <input type="number" class="form-control" name="code" value="<%=res.code%>">
                        <% for(var i=0; i< errs.length; i++){ %>
                            <% if(errs[i].field=="code"){%>
                                <p id="val" class="text-danger font-italic pt-2" style="font-style: italic ;"><%= errs[i].message %></p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p style="font-size: 1vw;">Họ tên</p> 
                        <input type="text" class="form-control" name="name" value="<%=res.name%>">
                        <% for(var i=0; i< errs.length; i++){ %>
                            <% if(errs[i].field=="name"){%>
                                <p id="val" class="text-danger font-italic pt-2" style="font-style: italic ;"><%= errs[i].message %></p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p style="font-size: 1vw;">Lớp</p> 
                        <input type="text" class="form-control" name="class" value="<%=res.class%>">
                        <% for(var i=0; i< errs.length; i++){ %>
                            <% if(errs[i].field=="class"){%>
                                <p id="val" class="text-danger font-italic pt-2" style="font-style: italic ;"><%= errs[i].message %></p>
                            <%}%>
                        <%}%>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p style="font-size: 1vw;">Khoa</p> 
                        <select class="form-control" name="faculty">
                            <option selected><%=res.faculty%></option>
                            <option>Công nghệ Nhiệt - Điện lạnh</option>
                            <option>Công nghệ Thông tin</option>
                            <option>Cơ khí</option>
                            <option>Cơ khí Giao thông</option>
                            <option>Điện</option>
                            <option>Điện tử - Viễn thông</option>
                            <option>Hóa</option>
                            <option>Khoa học Công nghệ tiên tiến</option>
                            <option>Kiến trúc</option>
                            <option>Môi trường</option>
                            <option>Quản lý Dự án</option>
                            <option>Xây dựng Cầu - Đường</option>
                            <option>Xây dựng Công trình Thủy</option>
                            <option>Xây dựng Dân dựng & Công nghiệp</option>                       
                        </select>
                        <% for(var i=0; i< errs.length; i++){ %>
                            <% if(errs[i].field=="faculty"){%>
                                <p id="val" class="text-danger font-italic pt-2" style="font-style: italic ;"><%= errs[i].message %></p>
                            <%}%>
                        <%}%>
                    </div>
                </div>  
            </div>

            <div class="col-sm-3 mt-5" style="float: none; margin: auto;">
                <button type="submit" class="btn text-light btn-block mt-5" style="background-color: #1069a8;">Đăng kí tài khoản</button>
            </div>
        </form>
    </div>

    <% for(var i=0; i< error.length; i++){ %>
        <div class="row">
            <div class="alert alert-danger col-sm-9 mt-5" style="float: none; margin: auto; text-align: center;" role="alert">
                <%= error[i].message %> 
            </div>
        </div>
    <%}%>
    <% for(var i=0; i< success.length; i++){ %>
        <div class="row">
            <div class="alert alert-warning col-sm-9 mt-5" style="float: none; margin: auto; text-align: center;" role="alert">
                <%=success[i].message %> 
            </div>
        </div>
    <%}%>
    
</div>

<div class="footer p-4 text-center text-white w-100" style="bottom: 0; position: absolute;">
    @TruongThiMaiHue_NguyenVanAnhQuan
</div>
</body>
</html>
