<%-include('partials/header.html')%>

	<%-include('partials/add1.html')%>

	<div class="menu">
        <a href="/student/home">
            <img src="/public/image/home.svg">Trang chủ</a>
        <h6>CÁ NHÂN</h6>
        <a href="/student/profile/edit">
            <img src = "/public/image/editS.svg">Sửa thông tin cá nhân</a>
        <a href="/student/profile/changepass">
            <img src = "/public/image/passch.svg">Đổi mật khẩu</a>
        <h6>ẤN PHẨM</h6>
        <a href="/student/books">
            <img src = "/public/image/books.svg">Danh sách ấn phẩm</a>
        <a href="/student/books/borrow">
            <img src = "/public/image/issueS.svg">Ấn phẩm đang mượn</a>
        <a href="/student/books/history" class="active">
            <img src = "/public/image/history.svg">Lịch sử mượn ấn phẩm</a>
        <a href="/student/books/request">
            <img src = "/public/image/requestB.svg">Đề nghị ấn phẩm</a>
    </div>

	<%-include('partials/add2.html')%>
        
		<div class="content">                   

			<div class = "row h-100 px-4 pt-3 pb-4">
				<div class="col-sm-12">
					<div class="card border-0 p-3 h-100">
								
						<table 
							id="table"
							data-show-columns="true" 
							data-show-columns-toggle-all="true"
							data-detail-formatter="detailFormatter"
							data-minimum-count-columns="4"
							data-show-export="true"
							data-show-print="true"
							data-server-sort="false"
							data-query-params="queryParams"
							data-response-handler="responseHandler">

							<thead class="bg-info text-light">
								<tr>
									<th data-field="id" data-sortable="true" data-align="center">ID</th>
									<th data-align="center">Ảnh Bìa</th>
									<th data-sortable="true" data-align="center">Thể loại</th>
									<th data-sortable="true" data-align="center">Tên</th>
									<th data-sortable="true" data-align="center">Tác giả</th>
									<th data-sortable="true" data-align="center">Nhà xuất bản</th>
									<th data-sortable="true" data-align="center">Mã số ISBN</th>
									<th data-sortable="true" data-align="center">Ngày mượn</th>
								</tr>
							</thead>

							<tbody> <% for(var i=0; i< res.length; i++){ %>
								<tr>
									<td>
										<a class="text-info" 
										    href="/student/books/detail/<%=res[i].book_id%>">
											<%=res[i].book_id%>
										</a>
									</td>
									<td>
										<img src="/<%=res[i].image%>" style="width:4vw; height:5.5vw" alt="">
									</td>
									<td>
										<%=res[i].genre%>
									</td>
									<td>
										<%=res[i].title%>
									</td>
									<td>
										<%=res[i].author%>
									</td>
									<td>
										<%=res[i].publisher%>
									</td>
									<td>
										<%=res[i].isbn%>
									</td>
                                    <td class=" text-danger">
										<%=res[i].date%>
									</td>									
									
								</tr>
									<% } %>
							</tbody>

						</table>
					</div>
				</div>
			</div>
					
		</div>
	        
    </div>
	</div>			
    </div>

    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/print/bootstrap-table-print.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>
        var $table = $('#table')
        $(function() {
            $table.bootstrapTable('destroy').bootstrapTable({
              	exportDataType: $(this).val(),
              	exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],   
            })
        })
        function queryParams(params) {
			delete params.sort
			delete params.order
			return params
		}
		function responseHandler(res) {
			if ($('#table').bootstrapTable('getOptions').sortOrder === 'desc') {
			res.rows = res.rows.reverse()
			}
			return res
		}
    </script>
</body>
</html>