<%-include('partials/header.html')%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<style>
        .ca:hover {
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }
        .card-title{
            font-size: 1.15vw;
        }
	</style>	
	<%-include('partials/add1.html')%>

    <div class="menu">
        <a href="/student/home">
            <img src="/public/image/home.svg">Trang chủ</a>
        <h6>CÁ NHÂN</h6>
        <a href="/student/profile/edit">
            <img src = "/public/image/editS.svg">Sửa thông tin cá nhân</a>
        <a href="/student/profile/changepass">
            <img src = "/public/image/passch.svg">Đổi mật khẩu</a>
        <h6>ẤN PHẨM</h6>
        <a href="/student/books">
            <img src = "/public/image/books.svg">Danh sách ấn phẩm</a>
        <a href="/student/books/borrow" class="active">
            <img src = "/public/image/issueS.svg">Ấn phẩm đang mượn</a>
        <a href="/student/books/history">
            <img src = "/public/image/history.svg">Lịch sử mượn ấn phẩm</a>
        <a href="/student/books/request">
            <img src = "/public/image/requestB.svg">Đề nghị ấn phẩm</a>
    </div>


	<%-include('partials/add2.html')%>
        
		<div class="content p-4">

            <div class="row px-4">       
                <% for(var i=0; i< res.length; i++){ %>
                    <div class="col-md-5 px-4" style="float:none;margin:auto;" >
                        <div class="ca card">

                            <div class="px-4 pt-3">
                                <a class="text-info" 
									href="/student/books/detail/<%=res[i].book_id%>">
                                    <img class="card-img-top px-5 w-100" src="/<%=res[i].image%>" style="height:23.4vw" alt="">
                                </a>
                            </div>

                            <div class="card-body p-2 text-center">
                                <p class="card-title m-2"><%=res[i].title%></p>
                                <p class="card-text m-1"><%=res[i].author%></p>
                                <p class="card-text m-1"><%=res[i].publisher%></p>
                                <p class="card-text m-1"><%=res[i].genre%></p>
                                <p class="card-text m-1 text-danger"><%=res[i].date_issued%></p>

                            </div>
                            <div class="card-footer text-danger font-weight-bold text-center bg-white">
                                <%
                                var date1 = new Date(res[i].date_issued);
                                var date2 = new Date();
                                var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                                var leftValid = 60 - diffDays;
                            %>
                            <%="Thời hạn mượn còn lại "+leftValid+" ngày"%>
                            </div>

                        </div>
                    </div>
                <% } %>
            </div>

        </div>
					
    </div>
	</div>			
    </div>

</body>
</html>